// mobile
@media screen and (max-width: 480px)
  body
    -webkit-text-size-adjust: none


  section.bar.pager
    margin-top: 60px
    text-align: center

  section.bar.about
    padding: 0 30px

@media screen and (max-width: 740px)
  section.bar.front-end .thumbnaildescription .half
    display: block
    text-align: center
    padding: 0

    .screenshot
      margin-left: 3px
      margin-bottom: 30px

    .inner
      padding-left: 0
      text-align: center
      border: none
      margin-left: 0

      ul li
        background: none
        padding-left: 0
        padding-bottom: 0
        text-align: center
  body section.textlist
    .subnav, .shortlists
      display: block
    
