/* Re-usable General Styles
@font-face
  src: url('../ttf/Raleway-Regular.ttf')
  font-family: Raleway

@font-face
  src: url('../ttf/OpenSans-Light.ttf')
  font-family: Open Sans

@font-face
  src: url('../ttf/Cutive_Mono.ttf')
  font-family: Cutive Mono



.fade-in
  opacity: 0

body
  font-family: Arial, sans
  margin: 10px
  color: #1d1d1d

h1, h2, h3, h4, h5, h6
  font-weight: normal
  font-family: Raleway

h2
  margin: 10px 0
  margin-bottom: 0
  padding-bottom: 5px
  font-size: 33px
  line-height: 40px
  color: #000000
  span.small
    color: gray
    font-size: 24px
  a
    color: black

h3
  margin-top: 10px
  font-size: 24px
  color: #1648a3

hr
  border: 0px
  display: block
  overflow: hidden
  background: #e8e8e8
  height: 1px
  &.dotted
    border-top: 1px dashed #e8e8e8
    background: none
    height: 0px

p
  font-size: 16px
  line-height: 26px
  margin: 25px 0px
  margin-top: 13px

a
  color: #1648a3
  text-decoration: none
  &:hover
    color: #5889e3
    text-decoration: underline

b, strong
  font-weight: bold

i, em
  font-style: italic

li p
  margin: 0
  padding: 0

ul
  margin: 0
  padding: 0
  padding-bottom: 10px

li
  margin-bottom: 7px
  color: #262626
  b
    color: black !important

ul li ul
  margin-left: 10px
  padding-left: 10px

/* Re-Usable General Styles

/* Structure

nav
  float: right
  a
    font-size: 11px
    padding: 0 2px
    &.active
      color: black
      &:hover
        text-decoration: none


  .seperator
    display: inline-block
    width: 0
    height: 7px
    border-right: 1px dotted #cfcfcf

div
  &#main
    max-width: 800px
    padding: 20px 20px
    margin: 0 auto


header
  padding-top: 10px
  border-bottom: 1px solid #e8e8e8

  padding-bottom: 10px

  margin-bottom: 60px

  clear: both
  overflow: hidden
  .links
    display: inline-block
    border-right: 1px dotted #cfcfcf
    padding-right: 10px

    a
      font-size: 12px
      &.a
        color: #000000
      &.b
        color: #2f2f2f
      &.c
        color: #6f6f6f
      &.d
        color: #2f2f2f
      &.e
        color: #000000



div#main-content
  clear: both
  overflow: hidden
  width: 100%
  margin: 0 auto

footer
  font-size: 12px
  border-top: 1px solid #e8e8e8

  margin-top: 60px


  padding-top: 10px
  .copyright
    border-right: 1px dotted #cfcfcf
    padding-right: 10px
    margin-right: 10px
    display: inline-block
  .return
    float: right


.date
  font-size: 15px
  color: #4f4f4f
  margin-bottom: 30px

.post
  border-bottom: 1px dashed #e8e8e8
  &.last
    border: none

#pagination
  margin: 10px 0
  color: gray
  float: right
  a
    font-size: 15px
    padding: 10px
.project
  h3
    margin-top: 35px
    padding-bottom: 0px
    margin-bottom: 0
    color: #252525
    font-size: 20px
    font-weight: 200
  p
    color: #3a3a3a
  .description
    font-size: 15px
    color: #4f4f4f
    margin-bottom: 20px
    line-height: 24px



// Pager Section
.front-end
  .pager
    float: right
    button
      background: none
      border: none
      outline: none
      width: 20px
      height: 20px
      cursor: pointer
    button.hidden
      content: ''
      opacity: 0
      cursor: none



/* New Projects Section
.shortlist
  padding: 0
  h2
    margin: 0
    padding-bottom: 0
    display: inline-block
    color: #292929
    font-weight: normal
    font-size: 12px
  ul
    font-family: Open Sans
    padding-left: 20px
    font-size: 13px
    line-height: 13px
  .additional
    display: inline-block
    padding-left: 2px
    a
      font-size: 8px


.thumbnaildescription
  //border: 1px solid #cfcfcf
  margin: 0 auto
  overflow: hidden
  vertical-align: top
  display: none
  opacity: 0

  &.active
    display: table

  .half
    display: table-cell
    vertical-align: middle
    &:first-child
      padding: 12px 60px
    &:last-child

  .half
    max-height: 300px

  .screenshot, .meta
    max-width: 100%

  .meta
    padding-right: 20px
    padding-left: 20px
    vertical-align: middle
    ul
      margin: 0
      padding: 0
      li
        margin: 0
        $vert_marg: 10px
        padding-top: $vert_marg
        padding-bottom: $vert_marg
        padding-left: 20px
        font-size: 20px
        font-family: Open Sans
        list-style: none
        background: url('../images/icons/bullet_black.png') no-repeat left center

  a.visit
    display: inline-block
    margin-top: 20px
    font-size: 16px
    font-family: Open Sans
    &:hover
      background: blue
      color: white

  .screenshot
    height: 200px
    border-radius: 2px
    box-shadow: 3px 6px 10px #cfcfcf
  .meta
    width: 300px

    .inner
      vertical-align: middle
      border-left: 1px solid #cfcfcf
      padding-left: 60px
    h2
      margin-bottom: 10px
      font-size: 30px


.textlist
  display: table
  vertical-align: middle
  .shortlists
    display: table-cell
    padding-left: 30px

  .subnav
    padding-right: 30px

  .subnav
    display: table-cell
    vertical-align: top
    width: 200px
    float: none
    text-align: right
    border-right: 1px solid #cfcfcf
    a
      font-family: Raleway
      font-size: 16px
      margin-bottom: 8px
      display: block
      clear: both
      color: #888888
      &.active
        color: black

  .shortlist
    opacity: 0
    display: none
    font-size: 13px
    font-family: Open Sans
    &.active
      display: block
    a
      font-family: Raleway
      font-size: 20px
      display: inline-block
    .additional
      display: inline-block
      a
        font-size: 12px
    p
      line-height: 18px
      margin-top: 4px

    .prj:last-child p
      margin-bottom: 0

section.about
  font-family: Open Sans
  padding: 0 60px

  span.big
    font-family: Raleway
    font-size: 20px

section.art
  text-align: center
  img
    margin: 0 auto
    max-height: 300px 
    max-width: 300px

  pre.poem
    text-align: left
    background: none !important
    border: none !important
    font-family: !important
    width: auto
    display: inline-block
    margin: 0 auto
    font-family: Cutive Mono !important
    font-size: 20px !important
    line-height: 20px important

  .art-date
    display: inline-block
    font-size: 7px
    text-align: right

.pager
  text-align: right
  .art-date
    font-size: 10px
