header
  padding: 10px 0
  margin-bottom: 60px
  border-bottom: 1px solid #e8e8e8

  clear: both
  overflow: hidden
  .links
    display: inline-block
    border-right: 1px dotted #cfcfcf
    padding-right: 10px

    a
      font-size: 12px
      &.a
        color: #000000
      &.b
        color: #2f2f2f
      &.c
        color: #6f6f6f
      &.d
        color: #2f2f2f
      &.e
        color: #000000

  nav
    float: right
    a
      font-size: 11px
      padding: 0 2px
      &.active
        color: black
        &:hover
          text-decoration: none


    .seperator
      display: inline-block
      width: 0
      height: 7px
      border-right: 1px dotted #cfcfcf
