section.bar.pager
  margin-top: 20px
  text-align: right
  a
    color: black

  button
    display: inline-block
    background: none
    border: none
    outline: none
    width: 20px
    height: 20px
    cursor: pointer
  button.hidden
    content: ''
    opacity: 0
    cursor: none
