section.bar.pager
  max-width: 100%
  margin-top: 10px
  text-align: right
  a
    color: black

  button
    display: inline-block
    background: none
    border: none
    outline: none
    width: 20px
    height: 20px
    cursor: pointer
  button.hidden
    content: ''
    opacity: 0
    cursor: none

  .blog
    border-left: 1px dotted #cfcfcf
    font-size: 11px
    margin-left: 10px
    font-weight: bold
    padding-right: 5px
    padding-left: 10px
