<header>
  <div class="miles">
    {% if page.url == "/index.html" %}
    <a class="a" title="resum&eacute;" href="/resources/resume.pdf">M</a><a target="_blank" class="b" title="gh" href='http://github.com/mil'>i</a><a target="_blank" class="c" title="no sleeps" href='http://www.freep.com/article/20130921/news05/309210021'>l</a><a target="_blank" class="d" title="linkin" href='http://linkedin.com/in/sandlar'>e</a><a target="_blank" class="e" title="pop!" href='https://bugzilla.mozilla.org/show_bug.cgi?id=772228'>s</a>
    {% else %}
    <a class='a' href="/">Miles</a>
    {% endif %}

    <span class='seperator'></span>
  </div>
  <nav>
    {% for link in site.navigation %}
      <a {% if page.url contains link.href %}class='active'{% endif %} href="{{ link.href }}">{{ link.text }}</a>


      {% if forloop.index == 1 or forloop.index == 2 %}
        <span class='seperator'></span>
      {% endif %}
    {% endfor %}


</header>
