<header>
    <div class='nav'>
      {% for link in site.navigation_a %}
        {% assign currentslug= page.url | downcase | split: '/' %}
        {{currentslug}}

        <a {{ if link.slug == currentslug }}class='active'{{ endif }} href="{{ link.href }}">{{ link.text }}</a>
      {% endfor %}

      <span class='seperator'></span>
      {% for link in site.navigation_b %}
        <a href="{{ link.href }}">{{ link.text }}</a>
      {% endfor %}
  </div>


  <div class="right links">
    <a class="a" title="My Resume" href="/resources/resume.pdf">M</a><a target="_blank" class="b" title="My Github Account" href='http://github.com/mil'>i</a><a target="_blank" class="c" title="You've spotted me!" href='http://www.freep.com/article/20130921/news05/309210021'>l</a><a target="_blank" class="d" title="My LinkedIn Account" href='http://linkedin.com/in/sandlar'>e</a><a target="_blank" class="e" title="My Ancient Web Design Company" href='http://logicdrift.com'>s</a>
  </div>
</header>
