---
layout: default
title: 
---
<section class='bar front-end'>

  {% for item in site.front_end %}
  <section class='split '>
    <div class='half'>
      <img class='screenshot' src='/images/front-end-thumbnails/{{ item.img }}'>
    </div>
    <div class='half meta'>
        <h2>{{ item.title }}</h2>

        <ul>
          {% for task in item.tasks %}
          <li><span class='bull'>&raquo;</span>{{ task }}</li>
          {% endfor %}
        </ul>
        <a class='visit' target='_blank' href="{{ item.link }}">Link</a>
      </div>
  </section>
  {% endfor %}

</section>
<section class='bar pager'>
  <button class='hidden previous'>&larr;</button>
  <button class='next'>&rarr;</button>
</section>
